<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
	</head>
	<body ng-app="angApp">
		<div class="container" ng-controller="MainCtrl">
			<div class="jumbotron clearfix">
				<div class="col-md-6">
					<h1 class="text-center"> API Basejump: time-miniserv </h1>
				</div>
				<div class="col-md-6">
					<blockquote>
						<h2>Example Usage:</h2>
						<a href="/December%2015,%202015"><code>https://time-miniserv.herokuapp.com/December 15, 2015</code></a><br>
						<a href="/1450137600"><code>https://time-miniserv.herokuapp.com/1450137600</code></a>
						<h2>Example Return:</h2>
						<code>{ "unix": 1450137600, "natural": "December 15, 2015" }</code>
					</blockquote>
				</div>
			</div>
			
			<div class="text-center">
				<div class="col-md-6">
					<input type="text" ng-model="inputDate">
					<button class="btn info" ng-click="getDate()">Get Date</button>
				</div>
				<div class="col-md-6">
					<div>
					<span>Unix: </span><code>{{ outputDate.unix }}</code>
					</div>
					<div>
					<span>Natural: </span><code>{{ outputDate.natural }}</code>
					</div>
				</div>
			</div>
			<hr>
		</div>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>